/*в правилі для body нічого змінювати НЕ потрібно*/
body{
	margin:20px auto;
	padding:0;
	width: 70%;
	min-height: 500px;
	box-shadow: 2px 2px 5px grey;
	font-family: Arial;
	background-color:#D3D3D3;
}

/*в цьому правилі нічого не потрібно змінювати*/
.slogan{
	font-size: 20px;
	text-align: center;
	padding-bottom:15px;
}

/*в цьому правилі нічого не потрібно змінювати*/
.footer{
	background:#0e2b3c;
	height: 25px;
	color:white;
	text-align: center;
	font-size: 0.5em;
}


/*тут бажано додати одну властивість,  
яка змінює режим розрахунку загальних розмірів*/
.header{
	width: 100%;
	height: 60px;
	background: #a6dbfb;
	padding: 5px;
	color:#0e2b3c;
	
}

/*зображенням потрібно додати по одній властивості*/
.oreo-logo{
	height: 40px;
	
}

.oreo-cookie{
	height: 40px;
	float:right;
}


.main{
	min-height: 425px;
	background: #deebf4;
	
}.table{
	display:table;
	border-collapse:collapse;
	border:1px solid grey;
}
.row{
	display:table-row;
	margin-left:20px;
	margin-right:20px;
}
.cell{
	display:table-cell;
	height:20px;
	width:300px;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	color:black;
	border: 1px solid grey;
}.ar1{
	background-color:yellow;
}
.ar2{
	background-color:orange;
}
.ar3{
	background-color:#FF6347;
}
.GR13{
	border-left: none;
}
table2{
border: 4px solid grey;
border-collapse: collapse;
}
td,th{
border: 2px solid red;
height: 25px;
width: 70px;
padding: 5px;
text-align: center;
}
caption{
caption-side: bottom;
text-align: left;
padding-left: 10px;
}
rowspan=.GR1:.Gr11;



